<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Therapist</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
<div class = "wrapper">
    <div class = "nav">
        <a href = "/main" class = "pagelink">Main Page</a>
        <a href = "/" class = "pagelink">Log Out</a>
    </div>


    <h3 class = "delete-heading">Are you sure you want to delete this therapist?</h3>
    <p class = "delete-page">Name:  {{one_therapist.name}}</p>
    
    <button  class ="not_delete_btn"><a href = '/main' class = "no">Do Not Delete</a></button>

    <form action = "/therapists/{{one_therapist.id}}/delete" class ="delete_btn" method = "POST">                        
        {% csrf_token %} 
        <input type = "submit" class = "delBtn"  value="Yes, Delete">             
    </form>
    
</div>    
</body>
</html>